{% extends 'base.html.twig' %}

{% block title %}Edit Usuarios{% endblock %}

{% block body %}

<style>
    .button-group {
        display: flex;
        gap: 10px;  /* Espaçamento entre os botões */
        
    }
    
    .delete-btn {
        background-color: #dc3545; /* Vermelho do Bootstrap */
        color: #fff;
        padding: 5px 12px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .delete-btn:hover {
        background-color: #c82333; /* Tom mais escuro de vermelho no hover */
    }

    .evaluate-btn {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .evaluate-btn:hover {
        background-color: #0056b3;
    }

    .edit-btn {
        background-color: #ffc107; /* Amarelo do Bootstrap */
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
    }

    .edit-btn:hover {
        background-color: #e0a800; /* Tom mais escuro de amarelo no hover */
    }
    h1 {
        text-align: center;
        color: #333;
    }

    table {
        width: 60%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

</style>

    <h1>Edit Usuarios</h1>
    
    <div class= "details">
        {{ include('usuarios/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="details">
        <div class="button-group">
            <a class="btn btn-info back-btn" href="{{ path('app_usuarios_index') }}">
                <i class="fas fa-arrow-left"></i>
            </a>

            
            {{ include('usuarios/_delete_form.html.twig') }}
        </div>
        </div>
{% endblock %}
