{% extends 'base.html.twig' %}

{% block title %}New Usuarios{% endblock %}

{% block body %}
    <h1>Create new Usuarios</h1>

    {{ include('usuarios/_form.html.twig') }}

    <a href="{{ path('app_usuarios_index') }}">back to list</a>
{% endblock %}
